body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #272829;
}
.main {
    color: #FFF;
}
.main .se {
    color: brown;
}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    background-color: #040D12;
    border-radius: 10px;
    border: none;
    color: #D8D9DA;
}

button {
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    border-radius: 15px;
    color: brown;
    font-weight: bold;
    border: none;
    transition: 1s;

}
button:hover {
    color: #D8D9DA;
    background: brown;
    animation: box 3s infinite;
    letter-spacing: 0.01rem;
    animation: move 3s infinite;
    transform: scale(1.01rem);
}
button::after {
    transform: scale(1);
}




